.a {
    width: 1000px;
    height:250px;
    background-color: rgba(0, 0, 0,0.8);
}

.b {
    position: relative;
    background-color: red;
    height:10%;
    width:80%;
    top: 10%;
}

.b .ba {
    
}


.c {
    position: relative;
    background-color: rgb(68, 0, 255);
    height:10%;
    width:80%;
    top:70%;
    left:20%;
}

.c .ca {

}