html{
    background-image:url('1.jpg');

    background-size: cover;

}
.main {
    max-width:1000px;
    max-height:1000px;
}


.content{
    background:url('clock.png') no-repeat center;
    background-color:rgba(255, 255, 255,0.3);
    background-size:300px 300px;
    padding-bottom:1%;
    position: absolute;
    width:298px;
    height:284px;
    border-radius:70%;
    overflow:hidden;
    margin-left:10%;
    margin-top:10%;
}

.minutes-container, .hours-container, .seconds-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.hours{
    background:url('hands.png') no-repeat center;
    background-size: 100px 40px;
    translate:50px 0;
    height:100%;
    width:100%;
    position:absolute;
}

.minutes {
    background:url('hands.png') no-repeat center;
    background-size: 120px 30px;
    transform: rotate(270deg);
    translate:0 -60px;
    height:100%;
    width:100%;
    position:absolute;
}

.seconds {
    background:url('hands.png') no-repeat center;
    background-size: 150px 30px;
    transform: rotate(270deg);
    translate:0 -75px;
    height:100%;
    width:100%;
    position:absolute;
}

@keyframes tick {
    100% {
        transform: rotateZ(360deg);
    }
}

.hours-container {
animation: tick 43200s infinite linear;
}
.minutes-container {
animation: tick 3600s infinite linear;
}
.seconds-container {
animation: tick 60s infinite linear;
}


.message {
    background-color: rgba(252, 252, 252, 0.89);
    color: rgb(5, 5, 5);
    height:10%;
    width:30%;
    min-height: 150px;
    text-align: center;
    position: fixed;
    bottom: 1%;
    right: 1%;
}

.message a, a:visited, a:focus, a:hover, a:active{
    text-decoration: pink solid;
}